/**
 * $VITAMINS
 * ==========================================================================
 */

@import "utilities/bootstrap-overrides";
@import "../../bower_components/bootstrap-sass/assets/stylesheets/bootstrap";

/**
 * Vitamin B (Base)
 * --------------------------------------------------------------------------
 */
@import "base/variables";
@import "base/mixins";
@import "base/normalize";
@import "base/reset";
@import "base/scaffolding";

/**
 * Vitamin E (Elements)
 * --------------------------------------------------------------------------
 */
@import "elements/buttons";
@import "elements/figures";
@import "elements/code";
@import "elements/forms";
@import "elements/headings";
@import "elements/icons";
@import "elements/images";
@import "elements/links";
@import "elements/lists";
@import "elements/paragraphs";
@import "elements/quotes";
@import "elements/rules";
@import "elements/shared";
@import "elements/smallprint";
@import "elements/tables";

/**
 * Vitamin U (Utilities)
 * --------------------------------------------------------------------------
 */
// @import "utilities/grid";
// @import "utilities/widths";

/**
 * Vitamin M (Modules)
 * --------------------------------------------------------------------------
 */
@import "modules/masthead";
@import "modules/navbar";
@import "modules/interlude";

/**
 * Vitamin L (Layouts)
 * --------------------------------------------------------------------------
 */
@import "layouts/landing";